[importlinter]
root_package = app

[importlinter:contract:layers]
name = Layer architecture
type = layers
layers =
    app.api
    app.services
    app.crud
    app.schemas
    app.models
    app.core
    app.literals

[importlinter:contract:core-independence]
name = Core should not import from upper layers
type = forbidden
source_modules =
    app.core
forbidden_modules =
    app.api
    app.services
    app.crud
    app.schemas
    app.models
    app.seeds

[importlinter:contract:schemas-independence]
name = Schemas should not import from business logic
type = forbidden
source_modules =
    app.schemas
forbidden_modules =
    app.api
    app.services
    app.crud
    app.core.dependencies
    app.core.seed

[importlinter:contract:models-independence]
name = Models should not import from upper layers
type = forbidden
source_modules =
    app.models
forbidden_modules =
    app.api
    app.services
    app.crud
    app.schemas
