services:
  unihub:
    container_name: unihub
    build: ./
    env_file:
      - .env
    volumes:
      - ./app:/app/app
    ports:
      - "8080:8080"
    networks:
      - unihub
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    container_name: unihub-postgres
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql
    ports:
       - "5432:5432"
    networks:
      - unihub
    restart: unless-stopped

  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    restart: unless-stopped
    ports:
      - "${VALKEY_PORT_NUMBER}:6379"
    volumes:
      - valkey_data:/data
    command: >
      valkey-server
      --save 60 1
      --loglevel warning
      --appendonly yes
      --requirepass ${VALKEY_PASSWORD}
    env_file:
      - .env
    networks:
      - unihub

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      - MINIO_ROOT_USER=${MINIO_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${MINIO_SECRET_KEY}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - unihub
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
  valkey_data:
  minio-data:

networks:
  unihub:
    driver: bridge
